@import "./styles/system.css";
@import "./styles/app.css";
@import "./styles/export.css";
@import "./styles/components.css";

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}
